h1{
    text-align: center;
}
section{
    margin: 2%;
}
#newElement{
    position: fixed;
    bottom: 0;
    width: 89%;
}
#delete{
    margin: 2.6%;
    position: fixed;
    bottom: 0;
    right: 0;
}